/* src/components/Navbar.css */

.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222; /* Change the background color */
  padding: 10px;
}

.right-logo 
img{

  width:100px;
  height:100px;
  flex: 1; /* Distribute space evenly between the logos and the menu */
  text-align: center;
}

.left-logo
img
{
  width:100px;
  height:100px;
  flex:1;
  text-align:center;
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
}
